
#list-filter, #see-more, #see-more1, #game-website{
   @include flex(row, center, center);
   @include button($size-movie-info, $font-regular);
   gap: $gap;
   margin: 30px 0px;
   width: fit-content;
   cursor: pointer;
}


#game-website{
   position: absolute;
   bottom: 0;
   right: 50px;
}